#container {
    margin: 0 auto;
}


body {
    width: 100%;
    height: 100%;
    background-image: url("bg.jpg");
    background-size: cover;
    background-position: center;
   
}

#logo {
    padding-left: 100px;
    padding-top: 50px;
}
.questions {
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    font-family: 'Outfit', sans-serif;
}

.options {
    text-align: center;
    height: 100px;
    font-family: 'Inter', sans-serif;
}
.option {
    font-family: 'Inter', sans-serif;
    

}

button {
    border-radius: 50px;
    font-size: 16px;
    text-align: center;
    padding: 20px;
    
}

#question-number {
    text-align: center;
    color: white;
}

#timer {

}