* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}


body {
    width: 80%;
    height: 100%;
    background-color:rgba(0, 0, 0, 0.938);
    background-image: url(assets/bg.jpg);
     background-repeat: no-repeat; 
     background-size: cover;
     font-family: 'Inter', sans-serif;
}


#logo {
    padding-left: 30px;
    padding-top: 20px;
position: absolute;
}

.center {
    top: 50%;
    left: 50%;
    position: absolute;
    color: white;
    transform: translate(-50%, -50%);
    
    
  }

  #time {
      font-size: 35px;
      color: white;
  }
  #text {
      font-size: 6px;
  }

  .timer {
      margin-left: 80%;
      height:200px;
       max-width:200px;
    position:relative;
  }

  #myChart{
    width: 150px;
    height: 150px;
    padding-top: 5px;
    
}


.questions {
    font-size: 60px;
    color: rgb(255, 255, 255);
    text-align: center;
    width: 100%;
    font-family: 'Outfit', sans-serif;
    margin-left: 30px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.options {
    text-align: center;
    font-family: 'Inter', sans-serif;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 15px;
    margin-bottom: 50px;
    user-select: none;
    margin-right: 150px;
    margin-left: 150px;
    position: relative;
}

.option-left {
    margin-right: -50px;
}
.option {
    margin-left: -40px
}
.button {
    border-radius: 50px;
    font-size: 16px;
    text-align: center;
    padding: 30px 100px;
    color: white;
    border: none;
    width: 450px;
    height: 80px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1) ;
    box-shadow: -2px -2px 3px whitesmoke;
}

.button:focus {
    background-color: rgb(250, 0, 196);
}
.qnum {
    color: rgb(250, 0, 196)
}

footer {
    text-align: center;
    color: white;
    margin-bottom: 20px;
}
